.side_menu__wrapper .side_menu {
  &__account {
    min-height: 10vh;
    width: 100%;
  }

  &__section {
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    color: rgba(0, 0, 0, 0.6);
    &__title {
      padding: 0 5%;
      font-weight: 500;
      @include media-mixin(small) {
        font-size: 0.8rem;
      }
      @include media-mixin(medium) {
        font-size: 0.9rem;
      }
    }

    &__content {
      @include media-mixin(small) {
        padding: 5%;
      }
    }
  }
}

.side_menu__wrapper .side_menu__categories {
  @include media-mixin(small) {
    ul {
      padding: 0;
    }

    & .navbar__category {
      margin: 5% 0;
    }

    & .category__name {
      font-size: 1rem;
    }
  }

  @include media-mixin(large) {
    & .navbar__category {
      margin: 2% 0;
    }
  }
}

.side_menu__wrapper .side_menu {
  &__create_course:active, &__my_courses:active {
    color: $contrast-color;
  }
}