@include media-mixin(small) {
  div.section__wrapper .sidebar_filter_options {
    display: none;
  }
}

@include media-mixin(large) {
  div.section__wrapper .sidebar_filter_options {
    display: block;
    grid-column: 1;
    grid-row: 1;
  }
}

.sidebar__option .option__body {
  & ul.option__subcategories {
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
  }

  & ul.option__subcategories .option__subcategory {
    display: block;
    padding: 5px;
    margin: 5px 0;
    transition: 0.4s;
  }

  & ul.option__subcategories .option__subcategory:hover {
    color: $contrast-color;
  }
}