@import "variables";

section {
  width: 100%;
  max-width: 100vw;
  min-height: 80vh;
  background-color: pink;
}

section.section--margin div.section__wrapper {
  display: grid;
  grid-template-columns: 20% 1fr;
  margin: 0 auto;
  min-height: 80vh;
  width: 75%;
  background-color: purple;
}

div.section__wrapper .content__wrapper {
  grid-column: 2;
  grid-row: 1;
  min-height: 80vh;
  background-color: green;
}