div.section__wrapper .content__wrapper {
  min-height: 80vh;
  width: 100%;

  @include media-mixin(small) {
    grid-column: 1;
    grid-row: 2;
  }

  @include media-mixin(large) {
    grid-column: 2;
    grid-row: 1;
  }
}