@import '../../variables';

.courses__list .course {
  &__img {
    grid-row: 1 / span 5;
    grid-column: 1;
    width: 260px;
  }

  &__title, &__short_description, &__authors, &__rating, &__last_update {
    grid-column: 2;
    padding-left: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__title {
    grid-row: 1;
    font-weight: 600;
  }

  &__short_description {
    grid-row: 2;
    font-weight: 400;
    font-size: 0.85rem;
  }

  &__authors {
    grid-row: 3;
    font-size: 0.85rem;
    font-weight: 500;
    color: #555;
  }

  &__rating {
    grid-row: 4;
  }

  &__last_update {
    grid-row: 5;
    color: rgba(0, 0, 0, 0.5);
    font-size: .85rem;
  }

  &__price {
    grid-row: 1;
    grid-column: 3;
    text-align: center;
    font-weight: 600;
  }
}

.courses__list .course .rating {
  &__stars, &__avg, &__votes_count {
    font-size: .85rem;
    margin-right: 5px;
  }

  &__stars {
    color: $star-color;
  }

  &__votes_count {
    color: rgba(0, 0, 0, 0.5);
  }
}