header.navbar .navbar {
  object-fit: contain;
  display: block;
  margin: 0 auto;

  @include media-mixin(small) {
    &__logo img {
      width: 40px;
    }
  }

  @include media-mixin(medium) {
    &__logo img {
      width: 50px;
    }
  }
}