section.section--margin div.section__wrapper {
  display: grid;
  margin-top: 5%;

  @include media-mixin(small) {
    grid-template-columns: 1fr;
    width: 80%;
  }

  @include media-mixin(large) {
    grid-template-columns: 20% 1fr;
  }
}